<div class="error not-visible">
  <p></p>
  <ul>
    <li>
      <a href="javascript:void(0)" target="_self" class="dismiss-error-message">Dismiss</a>
    </li>
    <li>
      <a href="/" target="_self">Go to home page</a>
    </li>
  </ul>
</div>