main {
  padding-top: 40px;
}

.navigation {
  position: fixed;
  display: block;
  text-align: center;
  height: 40px;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  background-color: rgba(73, 80, 87, 0.3);
  transition: 0.6s;
}

.navigation.active {
  background-color: rgb(2, 160, 160);
  transition: 0.6s;
}

.logo {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 27px;
  position: absolute;
  left: 10px;
  top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0);
}

.game-incomplete {
  padding-top: 20px;
}

.game-info {
  font-family: 'Lato', sans-serif;
  font-size: 18px;

  padding: 11px 0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.join-game-link {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  background-color: rgb(59, 59, 59);
  color: rgb(255, 255, 255);
  border: 0;
  box-shadow: none;
}

.copy {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  background-color: rgb(59, 59, 59);
  color: rgb(255, 255, 255);
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

/*----------Game Grids Styling----------*/
.hit.anim::before,
.miss.anim::before,
.ship.shot.anim::before,
.shot:not(.ship).anim::before {
  animation: pulse 1s;
}

.hit::before,
.ship.shot::before {
  font-family: 'Indie Flower', cursive;
  content: 'X';
  color: rgb(28, 69, 250);
  text-align: center;
  font-size: 45px;
  top: -12px;
  z-index: -1;
}

.hit::before {
  position: relative;
}

.ship.shot::before {
  position: absolute;
}

.miss::before,
.shot:not(.ship)::before {
  font-family: 'Indie Flower', cursive;
  content: '.';
  color: rgb(28, 69, 250);
  text-align: center;
  font-size: 45px;
  position: relative;
  top: -20px;
  z-index: -1;
}

.empty {
  background-color: transparent;
}

.board {
  width: 100%;
  height: 100%;
}

.ship {
  position: relative;
}

[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type='radio'] + span {
  display: block;
}

/* the basic, unchecked style */
[type='radio'] + span::before {
  box-sizing: border-box;
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.25em;
  border: 0 solid rgb(255, 255, 255);
  transition: 0.5s ease all;
  cursor: pointer;
}

/* the checked style using the :checked pseudo class */
[type='radio']:checked + span::before {
  background-image: url('../images/target.svg');
  cursor: pointer;
}

[type='radio']:disabled + span::before {
  cursor: default;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Clearfix */
.board-row::before,
.board-row::after {
  display: table;
  content: '';
}

.board-row::after {
  clear: both;
}

.board-row:first-of-type .board-column {
  border-top: solid black 1px;
}

.board-column:first-of-type {
  border-left-width: 1px;
}

.board-column {
  border: black solid 1px;
  border-left-width: 0;
  border-top-width: 0;
  float: left;
}

.columnwidth {
  width: 1.5em;
  height: 1.5em;
}

.battleship-game-fieldset,
.players-board {
  border: solid rgb(0, 0, 0) 1px;
}

.fire {
  z-index: 9999;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-boards {
  display: block;
}

p.board-name {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: rgb(28, 69, 250);
}

.game-complete p {
  font-family: 'Fredericka the Great', sans-serif;
  text-transform: capitalize;
  font-size: 70px;
  color: rgb(59, 59, 59);
  line-height: 1;
}

.spinner {
  width: 30px;
  height: 30px;
  position: relative;
  top: 7px;
  left: 3px;
}

.players {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.players p {
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  color: rgb(248, 96, 41);
  animation: players-anim 3s;
  opacity: 0;
}

.opaque {
  animation: op 3s;
}

@keyframes players-anim {
  0% {
    opacity: 0;
    z-index: 10000;
  }
  70% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes op {
  0% {
    filter: opacity(0.3);
  }
  70% {
    filter: opacity(0.3);
  }
  100% {
  }
}

@media only screen and (max-width: 400px) {
  .game-info {
    font-size: 14px;
    padding: 13px 0 13px 15px;
  }

  .players p {
    font-size: 30px;
  }
}

@media only screen and (max-height: 400px) {
  .players p {
    font-size: 30px;
  }

  .players {
    top: 50%;
  }
}

@media only screen and (min-width: 500px) {
  .join-game-link {
    width: 350px;
  }

  .navigation {
    height: 60px;
  }

  .logo {
    font-size: 45px;
    width: 50px;
    height: 50px;
  }

  main {
    padding-top: 60px;
  }

  .game-info {
    padding: 22px 0;
  }

  .spinner {
    top: 8px;
  }
}

@media only screen and (min-width: 700px) {
  .game-boards {
    display: flex;
    justify-content: center;
  }

  .game-boards .row {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .join-game-link {
    width: unset;
  }
}

legend {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.legend {
  margin-top: 10px;
  display: flex;
}

.legend-item {
  display: inline-flex;
}

.legend-item .hit,
.legend-item .miss {
  width: 24px;
  margin-left: 7px;
}

.legend-item .ship {
  width: 24px;
  margin-left: 12px;
  margin-right: 4px;
}

.game-complete.shadow,
.players-turn .shadow {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9998;
}

.players-turn .battleship-game {
  position: relative;
}

.game-complete {
  padding-bottom: 20px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
