.game-incomplete {
  padding-top: 20px;
}

.game-info {
  font-family: 'Lato', sans-serif;
  font-size: 18px;

  padding: 11px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.game-events {
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  background-color: rgba(62, 247, 92, 0.3);
  height: 40px;
  left: 0;
  right: 0;
  text-align: center;

  font-family: 'Lato', sans-serif;
  font-size: 18px;

  padding: 11px;
  color: rgb(59, 59, 59);
  font-weight: bold;
}

.navigation {
  transition: 0.3s;
  position: fixed;

  background-color: rgba(73, 80, 87, 0.3);

  display: block;
  text-align: center;
  height: 40px;
  overflow: hidden;
  /*padding: 12px 0 0;*/
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.navigation li {
  display: inline-block;
}

main {
  padding-top: 40px;
}

.navigation ul li a {
  padding: 10px 15px 8px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: black;
  text-decoration: none;
}

.logo {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 27px;
  position: absolute;
  left: 10px;
  top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: black;
}

.all-done-button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  color: rgb(1, 116, 116);
  background-color: transparent;
  border: solid rgb(1, 116, 116) 2px;
  cursor: pointer;
  margin: 5px;
}

.row p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-size: 18px;
  padding: 0 20px;
  margin: 0 0 0 0;
  color: rgb(59, 59, 59);
}

.bg {
  background-color: #dbe5e4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2392aca7' fill-opacity='0.43'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.row {
  max-width: 1000px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.join-game-link {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  background-color: rgb(59, 59, 59);
  color: white;
  border: 0;
  box-shadow: none;
}

.copy {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  background-color: rgb(59, 59, 59);
  color: white;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.hit::before {
  font-family: 'Indie Flower', cursive;
  content: 'X';
  color: #1c45fa;
  text-align: center;
  font-size: 45px;
  position: relative;
  top: -12px;
  z-index: -1;
}

.miss::before {
  font-family: 'Indie Flower', cursive;
  content: '.';
  color: #1c45fa;
  text-align: center;
  font-size: 45px;
  position: relative;
  top: -18px;
  z-index: -1;
}

.empty {
  background-color: transparent;
}

.board {
  width: 100%;
  height: 100%;
}

.ship {
  position: relative;
  /*background-color: black;*/
}

.ship.top {
  border-radius: 50% 50% 0 0;
}

.ship.bottom {
  border-radius: 0 0 50% 50%;
}

.ship.right {
  border-radius: 0 50% 50% 0;
}

.ship.left {
  border-radius: 50% 0 0 50%;
}

.ship.single {
  border-radius: 50%;
}

.shot:not(.ship)::before {
  font-family: 'Indie Flower', cursive;
  content: '.';
  color: #1c45fa;
  text-align: center;
  font-size: 45px;
  position: relative;
  top: -18px;
}

.ship.shot::before {
  font-family: 'Indie Flower', cursive;
  content: 'X';
  color: #1c45fa;
  text-align: center;
  font-size: 45px;
  position: absolute;
  top: -12px;
}

[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type='radio'] + span {
  display: block;
}

/* the basic, unchecked style */
[type='radio'] + span::before {
  box-sizing: border-box;
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.25em;
  border: 0 solid #fff;
  transition: 0.5s ease all;
  cursor: pointer;
}

/* the checked style using the :checked pseudo class */
[type='radio']:checked + span::before {
  background-image: url('../images/target.svg');
  cursor: pointer;
}

[type='radio']:disabled + span::before {
  cursor: default;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Clearfix */
.board-row::before,
.board-row::after {
  display: table;
  content: '';
}

.board-row::after {
  clear: both;
}

.board-row:first-of-type .board-column {
  border-top: solid black 1px;
}

.board-column:first-of-type {
  border-left-width: 1px;
}

.board-column {
  border: black solid 1px;
  border-left-width: 0;
  border-top-width: 0;
  float: left;
  cursor: pointer;
}

.columnwidth {
  width: 1.5em;
  height: 1.5em;
}

li {
  display: inline-block;
  margin-right: 20px;
}

ul {
  padding-left: 0;
  padding-right: 0;
}

.not-visible {
  display: none;
}

.players-turns,
.players-board {
  border: solid black 1px;
}

.players-turn .players-board {
  filter: blur(1px);
}

.fire {
  margin: 5px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  padding: 16px;
  color: black;
  background-color: #ff7f50;
  border: solid #f86029 2px;
  cursor: pointer;

  z-index: 9999;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-boards {
  display: block;
}

.game-name p {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #1c45fa;
}

.game-complete {
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 20%;
}

.game-complete p {
  font-family: 'Fredericka the Great', sans-serif;
  text-transform: capitalize;
  font-size: 70px;
  color: rgb(59, 59, 59);
}

@media only screen and (max-width: 400px) {
  .game-info {
    font-size: 14px;

    padding: 13px 0 13px 15px;
  }
}

@media only screen and (min-width: 500px) {
  .join-game-link {
    width: 350px;
  }

  .navigation {
    height: 60px;
  }

  .logo {
    font-size: 45px;
    width: 50px;
    height: 50px;
  }

  main {
    padding-top: 60px;
  }

  .game-info {
    padding: 22px;
  }

  .game-name p {
    font-size: 24px;
  }
}

@media only screen and (min-width: 700px) {
  .game-complete {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 5%;
  }

  .game-boards {
    display: flex;
    justify-content: center;
  }

  .game-boards .row {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .join-game-link {
    width: unset;
  }

  .game-complete {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 10%;
  }
}

.legend {
  margin-top: 10px;
  display: flex;
}

.legend-item {
  display: inline-flex;
}

.legend-item .hit,
.legend-item .miss {
  width: 24px;
  margin-left: 7px;
}

.legend-item .ship {
  width: 24px;
  margin-left: 12px;
  margin-right: 4px;
}

.game-complete.shadow,
.players-turn .shadow {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9998;
}

.players-turn .battleship-game {
  position: relative;
}
