body {
  background-color: #008b8b;
}

.row {
  max-width: 1000px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 20%;
}

.bg {
  background-color: #dbe5e4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2392aca7' fill-opacity='0.43'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-family: 'Fredericka the Great', sans-serif;
  text-transform: capitalize;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}

.new-battle {
  margin: 5px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  padding: 16px;
  color: black;
  background-color: #ff7f50;
  border: solid #f86029 2px;
  cursor: pointer;
}

.player {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 16px;
  color: rgb(1, 116, 116);
  background-color: transparent;
  border: solid rgb(1, 116, 116) 2px;
  cursor: pointer;
  margin: 5px;
}

a {
  color: black;
  font-size: 15px;
}

.row p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-size: 18px;
  padding: 0;
  margin: 0 0 0 0;
  color: rgb(59, 59, 59);
}

p.whats-this {
  color: rgb(59, 59, 59);
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

.hello {
  display: inline-block;
}

.not-visible {
  display: none;
}

.ship {
  width: 200px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .ship {
    width: 150px;
  }

  header {
    padding-top: 0;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 5%;
  }

  .intro {
    display: inline;
  }
}

.chardinjs-tooltiptext {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  header {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 10%;
  }
}
