<!doctype html>
<html lang="en">

<head>
  <title>Battleship Online</title>
  <% include ../partials/head %>

    <link rel="stylesheet" href="../css/game.css">
    <script src="../js/game.js"></script>
</head>

<body class="bg">
  <script>
    let CURRENT_GAME = '<%- JSON.stringify(game) %>';
  </script>

  <nav role="banner" class="navigation">
    <!--<img class="logo" src="../images/ship.svg" alt="Battleship Online">-->
    <ul>
      <li>
        <a href="/" target="_self">
          <i class="fas fa-home"></i>
          Back to home page</a>
      </li>
      <!--
      <li>
        <a href="/" target="_self">
          <i class="fas fa-book"></i> Battleship Game Rules</a>
      </li>
      <li>
        <a href="/" target="_self">
          <i class="fas fa-question"></i> Help</a>
      </li>-->
    </ul>
  </nav>

  <main role="main">

    <section class="game-incomplete not-visible">
      <div class="row">
        <p>Almost ready to battle. Send this link to a friend so that they can join.</p>
      </div>
      <div class="row">
        <span class="join-game-link"></span>
        <button type="button" class="copy">
          <i class="far fa-copy"></i>
        </button>
      </div>
      <div class="row">
        <button type="button" class="all-done-button">Got it</button>
      </div>
    </section>

    <section class="game not-visible">
      <div class="row">
        <p>
          <i class="fas fa-user-circle"></i>
          <span class="opponent"></span>
        </p>
      </div>
      <div class="row">
        <form class="battleship-game">
          <div class="players-turns shadow">



            <fieldset class="battleship-game-fieldset">
              <legend></legend>
            </fieldset>


          </div>
          <button type="submit" class="fire not-visible">Fire!</button>
        </form>
      </div>
      <div class="row">
        <div class="players-board"></div>
      </div>
      <div class="row">
        <p>
          <i class="fas fa-user-circle"></i>
          <span class="player"></span>
        </p>
      </div>
    </section>
    <div class="error-message"></div>
  </main>
</body>

</html>