<!doctype html>
<html lang="en">

<head>
  <title>Battleship Online</title>
  <% include ../partials/head %>

    <link rel="stylesheet" href="../css/game.css">
    <script src="../js/game.js"></script>
</head>

<body>
  <script>
    let CURRENT_GAME = '<%- JSON.stringify(game) %>';
  </script>
  <nav role="banner">
    <ul>
      <li>
        <a href="/" target="_self">Return to Dashboard</a>
      </li>
      <li>
        <a href="/" target="_self">Help</a>
      </li>
    </ul>
  </nav>
  <!--
  <header role="banner">
    <h1>Battleship online</h1>
  </header>-->
  <main role="main">
    <!--
    <section class="game-info">
      <p class="game-name"></p>
      <p class="game-state"></p>
    </section>
  -->
    <section class="game">
      <div class="players-turns">
        <form class="battleship-game">
          <fieldset class="battleship-game-fieldset">
            <legend></legend>
          </fieldset>
          <button type="submit" class="fire not-visible">Fire!</button>
        </form>
      </div>
      <div class="players-board"></div>
    </section>
    <div class="error-message"></div>
  </main>
</body>

</html>