<!doctype html>
<html lang="en">

<head>
  <title>Battleship Online - Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Fredericka+the+Great|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../js/common.js"></script>
  <script src="../js/index.js"></script>
</head>

<body>
  <header role="banner">
    <h1>Battleship online</h1>
  </header>
  <main role="main">
    <section class="player-info">

    </section>

    <section class="new-game-section" class="not-visible">
      <button type="button" class="new-battle">
        <i class="fas fa-bomb"></i> New Battle!</button>
      <span class="link not-visible">
        <a class="join-game-link"></a>
        <button type="button" class="copy" id="copy">
          <i class="far fa-copy"></i>
        </button>
      </span>
    </section>
    <div class="error-message"></div>
  </main>
</body>

</html>