<!doctype html>
<html lang="en">

<head>
  <title>Battleship Online - Join</title>
  <% include ../partials/head %>
    <script src="../js/join.js"></script>
</head>

<body>
  <script>
    const roomId = '<%= roomId %>';
  </script>
  <div class="error-message"></div>
</body>